/* Global */

section {
    background-color: #8D3245;
    min-height: 982px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

body {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 70px;
    padding: 0px;
    font-size: 50px;
}


li {
    color: #FFEFE0;
    margin-bottom: 5px;
    letter-spacing: 0.11em;
    font-weight: 600;
}


li:hover {
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

h2 {
    color: #FFEFE0;
    margin-bottom: 5px;
    letter-spacing: 0.11em;
    font-weight: bold;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section home */

.section-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.menu-container {
    position: fixed;
    top: 50px;
    left: 50px;
}


.hero-phrase {
    display: flex;
    flex-direction: row;
    margin-bottom: 230px;
}


.just {
    color: #F0BB75;
    margin-right: 20px;
    margin-left: 20px;
    letter-spacing: 0.11em;
    font-weight: bold
}

/* My skills section */

.section-my-skills {
    padding-left: 30%;
    display: flex;
    flex-direction: column;
    background: #BC425C;
}

.section-my-skills h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.11em;
    color: #F0BB75; 
}

.skill-section {
    margin-bottom: 44px;
}

.section-my-skills h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #FFEFE0;
}

.skills-group {
    display: flex;
}

.skill-item {
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-image {
    filter: grayscale(100%);
}

.skill-image:hover {
    filter: grayscale(0%);
}

.section-my-skills small {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

/* My projects section */

.section-my-projects {
    padding-left: 30%;
    display: flex;
    flex-direction: column;
    background: #D07B8D;
}

.section-my-projects h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.11em;
    color: #8D3245; 
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    width: 500px;
    height: 250px;
    background-color: transparent;
    border: 1px solid #FFEFE0;
    border-radius: 50px;
    background: #FFEFE0;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 16px;
}

.project-card:hover {
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.3); 
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.3);   
}

.project-card p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: rgba(92, 32, 45, 0.5);
    margin: 0px;
}

.project-card h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #8D3245;
    margin: 0px; 
}

.project-card h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #F0BB75;
    margin: 0px;
    margin-top: 8px;
}

.download-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
}

.download-cv-button {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFEFE0;
    background-color: transparent;
    border: 1px solid #FFEFE0;
    border-radius: 5px;
    width: 295px;
    cursor: pointer;
}

.download-cv-button:hover {
    color: #D07B8D;
    background-color: #FFEFE0;
    border: 1px solid #D07B8D;
}

/* Section footer */

.footer-section {
    height: 200px;
    background-color: #5C202D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.icons {
    margin-left: 50px;
}

.footer-section p {
    color: #FFEFE0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
}